<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Avatar centrado -->
  <figure class="avatar-container">
    <img
      class="avatar"
      alt="Usuario"
      src="https://ionicframework.com/docs/img/demos/avatar.svg"
    />
  </figure>

  <!-- Formulario -->
  <form [formGroup]="loginForm">
    <!-- Campo Email -->
    <ion-item>
      <ion-input
        label="Correo electrónico"
        labelPlacement="floating"
        placeholder="ejemplo@correo.com"
        formControlName="email">
      </ion-input>
    </ion-item>
    <!-- Mostrar errores del campo Email -->
    <div class="error-container">
      <ng-container *ngFor="let error of formErrors.email">
        <ion-label color="danger" *ngIf="loginForm.get('email')?.hasError(error.type) && loginForm.get('email')?.dirty">
          {{ error.message }}
        </ion-label>
      </ng-container>
    </div>

    <!-- Campo Contraseña -->
    <ion-item>
      <ion-input
        label="Contraseña"
        labelPlacement="floating"
        type="password"
        placeholder="********"
        formControlName="password">
      </ion-input>
    </ion-item>
    <!-- Mostrar errores del campo Contraseña -->
    <div class="error-container">
      <ng-container *ngFor="let error of formErrors.password">
        <ion-label color="danger" *ngIf="loginForm.get('password')?.hasError(error.type) && loginForm.get('password')?.dirty">
          {{ error.message }}
        </ion-label>
      </ng-container>
    </div>

    <!-- Botón Iniciar Sesión -->
    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" (click)="onLogin()">
      Iniciar Sesión
    </ion-button>

    <!-- Mensaje de error general -->
    <ion-label class="error-message" color="danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </ion-label>
  </form>
</ion-content>
