<ion-content>
  <swiper-container
    slides-per-view="1"
    pagination="true"
    autoplay-delay="3000"
    loop="true"
  >

    <swiper-slide class="slide">
      <div class="slide-background" style="background-image: url('/assets/img/pirncipal1.jpg');"></div>
      <div class="slide-content">
        <h1 class="title">Bienvenido a Fast-Food</h1>
        <p class="description">Encuentra y guarda tus recetas favoritas</p>
      </div>
    </swiper-slide>


    <swiper-slide class="slide">
      <div class="slide-background" style="background-image: url('/assets/img/descuento1.jpeg');"></div>
      <div class="slide-content">
        <h1 class="title">Explora nuevas ideas</h1>
        <p class="description">Descubre recetas inspiradoras para cada ocasión</p>
      </div>
    </swiper-slide>


    <swiper-slide class="slide">
      <div class="slide-background" style="background-image: url('/assets/img/intro.jpg');"></div>
      <div class="slide-content">
        <h1 class="title">Comparte tus recetas</h1>
        <p class="description">Únete a nuestra comunidad y comparte tus creaciones</p>
      </div>
    </swiper-slide>


    <swiper-slide class="slide">
      <div class="slide-background" style="background-image: url('/assets/img/menu1.jpg');"></div>
      <div class="slide-content">
        <ion-icon name="close" class="close-icon" (click)="finish()"></ion-icon>
        <h1 class="title">¡Comienza ahora!</h1>
        <ion-icon name="battery-charging-outline" class="icon"></ion-icon>
        <p class="description">Haz clic para ir al inicio y explorar las recetas</p>
        <ion-button expand="block" color="primary" (click)="finish()">Ir al Home</ion-button>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>



