<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registroForm" (ngSubmit)="registerUser()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-note *ngIf="registroForm.get('name')?.hasError('required') && registroForm.get('name')?.touched" color="danger">
      El nombre es obligatorio.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="lastname"></ion-input>
    </ion-item>
    <ion-note *ngIf="registroForm.get('lastname')?.hasError('required') && registroForm.get('lastname')?.touched" color="danger">
      El apellido es obligatorio.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-note *ngIf="registroForm.get('email')?.hasError('email') && registroForm.get('email')?.touched" color="danger">
      Ingresa un correo válido.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-note *ngIf="registroForm.get('password')?.hasError('minlength') && registroForm.get('password')?.touched" color="danger">
      La contraseña debe tener al menos 6 caracteres.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <ion-note *ngIf="registroForm.errors?.['mismatch'] && registroForm.get('confirmPassword')?.touched" color="danger">
      Las contraseñas no coinciden.
    </ion-note>

    <ion-button expand="block" type="submit" [disabled]="!registroForm.valid">Registrar</ion-button>
  </form>
</ion-content>
